# Ignore logs and tmp files
*.log
tmp/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
*.class
*.o
*.pyc

*node_modules/*
.next
*.next.*
*.env*
.env*.local
sendgrid.env
next.config.js