
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22.5em;
    margin-top: -15%;
}

.hero_h {
    margin: 0;
    font-size: 55px;
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    line-height: 94.5%;
    letter-spacing: 0.005em;
    background: linear-gradient(270deg, #d3d565 0%, #C0B97D 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite alternate-reverse;
    text-transform: uppercase;
}
.hero_h3 {
    color: #f3e5b1;
    /* color: #F3E5B1; */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3.5px;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
}
.hero_p {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.55);
    padding-top: 3em;
    padding-bottom: 3em;
}
@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.button_container {
    width: 200px;
}
.button {
    border-radius: '50px'
}